<ion-view title="Health">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
   
    <ion-content class="has-header" center style="background-color:#FAFCFA">
        <h1 style="font-size:25px;font-family: 'Lato', sans-serif;" class="col center blue item-text-wrap"> {{ pageTitle }} </h1>
   <p>Dear Customer,</p>
            <p style="padding-left:5px;padding-right:5px">Currently, we are unable to find any online plans that cover the insured members. Please get in touch with us at 18002679990 or share your contact details and one of our experts will assist you with finding a suitable plan. </p>
        <!-- Do not delete below button it fixes some UI issue -->
        <button class="btn btn-4 btn-4a" style="visibility:hidden">12</button>
        <!-- Do not delete below button it fixes some UI issue -->
    </ion-content>
    
     <div class="bar bar-footer" ng-click="goToGenInfo();">
        <div class="title whiteFont">New Health Policy<i class="fa fa-angle-left nextIconForFooter"></i></div>
    </div>
</ion-view>
