<ion-view title="Car">
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  
    <ion-content class="has-header" style="background-color:#FAFCFA">
        <h1 style="font-size:30px;" class="col center blue item-text-wrap">HOW CAN WE HELP YOU?</h1>
        <center>
            <button class="btn btn-4 btn-4a" ng-click="redirect('app.home1')">Expired&nbsp;</button>
            <button class="btn btn-4 btn-4a">Renew&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <button class="btn btn-4 btn-4a">New Car&nbsp;</button>
            <button class="btn btn-4 btn-4a">Used Car</button>
            
            <!-- Do not delete below button it fixes some UI issue -->
            <button class="btn btn-4 btn-4a" style="visibility:hidden">12</button>
            <!-- Do not delete below button it fixes some UI issue -->

        </center>
        
    </ion-content>
    <div class="bar bar-footer">
        <div class="title whiteFont">Next <i class="fa fa-angle-right nextIconForFooter" ></i></div>
    </div>
</ion-view>