<ion-view title="Symbo">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <style>
        
        /* Portrait */
@media only screen and (max-device-width: 667px) 
    and (-webkit-device-pixel-ratio: 2) {
    
        }

/*        Errortab*/
        .errortab{background:#f6ebbb;
                color:#24385c; -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #2d69b3;                   
  font-size: 14px;
  width:350px;
padding: 10px 10px 10px 10px;}
/*        Errortab*/
/*    Start    DROPDOWN*/
        .notIE {
            position: relative;
            display: inline-block;
        }
        
        select {
            display: inline-block;
            height: 40px;
            width: 300px;
            padding: 2px 10px 2px 2px;
            outline: none;
            border-radius: 4px;
        }
        /* Select arrow styling */
        
        .notIE .fancyArrow {
            width: 40px;
            height: 37px;
            position: absolute;
            display: inline-block;
            top: 1px;
            right: 2px;
            bottom: 1px;
            background: url(http://studbud.in/imagess/dropdown.png) right / 90% no-repeat #fff;
            pointer-events: none;
        }
        /*target Internet Explorer 9 and Internet Explorer 10:*/
        
        @media screen and (min-width:0\0) {
            .notIE .fancyArrow, .notIE .fancyArrowMark {
                display: none;
            }
        }
        
     /*    End    DROPDOWN*/
        
/*    start    HALF ICON THINGY*/
        .overlap-header {
            padding: 10px 30px 30px;
            text-align: center;
            background: #dadada;
            color: #24385c;
            position: relative;
            width:100%
        }
        
        .half-out-button {
            position: absolute;
            bottom: 0;
            right: 5%;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            margin-bottom: -35px;
            background: #f3a536;
            color: #fff;
            font-size: 30px;
        }
        
        .overlap-img {
            position: relative;
            display: block;
            max-width: 100%;
            margin: -100px auto 25px;
        }

        .notIE .fancyArrowMark {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 37px;
            top: 14px;
            left: -46px;
            background: url(http://studbud.in/imagess/dropdown.png) right / 90% no-repeat #fff;
        }
        
/*    end    HALF ICON THINGY*/
    </style>

    <ion-content class="has-header" center style="background-color:#FAFCFA">
      <div class="overlap-header"> Nominie: {{ proposerDetails.toInsure }} | Age: {{ proposerDetails.age }} | Gender: {{ proposerDetails.gender === 'M' ? 'Male' : 'Female' }}
            <button class="half-out-button" ui-sref="app.GenInfo"> <i class="ion-edit"> </i> </button>
        </div>
        <p>
            <h1 style="font-size:25px;font-family: 'Lato', sans-serif;" class="col center blue item-text-wrap">Pre-Existing Diseases
                </h1>
                <h2 style="font-size: 17px;
                        color: #536992;">Specify your’s / family member’s condition</h2>
                <div>
                    <div ng-repeat="member in members" class="familydiv">
                        <div class="" style="display: inline;"> <span style="font-size:17px; color:#536992"> {{ $index + 1 }} </span> </div>
                        <div class="" style="display: inline;">
                            <!--                <input type="text" placeholder="Select" style="border-bottom-style:groove; border-width:1px; width:80%; background-color:#FAFCFA"> -->
                            <div class="notIE">
                                <!-- <![endif]--><span class="fancyArrow"></span>
                                <select ng-model="member.insurer" ng-focus="relationChange($index);" ng-options="item for item in relationshipList">
                                </select>
                                <!--[if !IE]> -->
                            </div>
                            <!-- <![endif]-->
                        </div>
                        <div class="" style="display: inline;"> <span style="font-size:17px; color:#536992; visibility: hidden;">  is  </span> </div>
                        <div class="leftse15" style="display: inline; ">
                            <span ng-click="removeMemberCard($index)" style="display:inline;"></span>
                            <!--                <input type="text" placeholder="Select" style="border-bottom-style:groove; border-width:1px; width:80%; background-color:#FAFCFA"> -->
                            <div class="notIE">
                                <!-- <![endif]--><span class="fancyArrow"></span>
                                <select ng-model="member.diseases" ng-options="item for item in ddata">
                                </select>
                                <!--[if !IE]> -->
                            </div>
                            <!-- <![endif]-->
                        </div>
                        <span ng-click="removeMemberCard($index)" style="display:inline; color:#24385c; font-size:20px"><i class="fa fa-times-circle-o"></i></span>
                        <div class="" ng-show="member.relationship == 'My father' || member.relationship == 'My mother'" style="margin: auto;width: 50%;">
                            <!--<span style="font-size:17px; color:#536992"> Pincode </span> <br/>-->
                            <input type="text" ng-model="member.pincode " placeholder="Pincode" style="border-bottom-style:groove; border-width:1px; background-color:#FAFCFA">
                        </div>    
                        <div class="row" ng-show="member.relationship == 'My father' || member.relationship == 'My mother'"></div>
                        <br/>


                    </div>
                    <div class="row">

                        <div class="col col-center">
                            <button ng-click="addMemberCard();" style=" -webkit-border-radius: 48;-moz-border-radius: 48;border-radius: 48px;font-family: Arial;color: #2d69b3;font-size: 17px;padding: 12px 90px 12px 90px;border: solid #1f628d 2px;text-decoration: none;
                            background-color: Transparent;
                            background-repeat:no-repeat;">&nbsp;&nbsp;Add Disease&nbsp;&nbsp;</button>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
            <!-- Do not delete below button it fixes some UI issue -->
            <button class="btn btn-4 btn-4a" style="visibility:hidden">12</button>
            <!-- Do not delete below button it fixes some UI issue -->

            <div class="bar bar-footer">
                <div class="title whiteFont">Next <i class="fa fa-angle-right nextIconForFooter"></i></div>
            </div>
    </ion-content>
    <div class="bar bar-footer" ng-click="next();">
        <div class="title whiteFont">Next <i class="fa fa-angle-right nextIconForFooter"></i></div>
    </div>
</ion-view>

